<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <pipelines>
          <contentSearch.formatQueryFieldValue>
              <processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.FormatQueryFieldValue.ApplyFieldMappingRule, Sitecore.ContentSearch.SolrProvider">
                  <patch:delete />
              </processor>
              <processor type="Sitecore.XA.Foundation.Search.Providers.Solr.Pipelines.FormatQueryFieldValue.ApplyFieldMappingRule, Sitecore.XA.Foundation.Search.Providers.Solr">
                  <patch:delete />
              </processor>
              <processor type="Sitecore.Support.ContentSearch.SolrProvider.Pipelines.FormatQueryFieldValue.ApplyFieldMappingRule, Sitecore.Support.363268" />
          </contentSearch.formatQueryFieldValue>
      </pipelines>
  </sitecore>
</configuration>